@media screen and (min-width:768px) {
    /* MAIN */
    /* hero */

    .get-app {
        width: calc(100% * 2/3 - var(--hero-gap));
    }

    .info-card {
        width:calc(100% / 3 - var(--hero-gap));
        /* debug */
        height: 600px;
    }

    /* testomonial */
    .testimony{
        flex-direction: row;
    }

    .testimony .photos {
        width: 30%;
        /* debug */
        margin-right: 1rem;
    }
}

@media screen and (min-width:992px) {
    /* HEADER */
    .container {
        width: 70%;
    }
    .navigation {
        width:450px;
    }

    /* MAIN */
    /* strategic */

    .plan,
    .app-dev {
        width: calc(100% / 2 - var(--strategic-gap));
    }


}