@media screen and (min-width:768px) {
    /* MAIN */
    /* hero */

    .get-app {
        width:calc(100% * 2/3 - var(--hero-gap) /2);
    }

    .info-card {
        width:calc(100% / 3 - var(--hero-gap));
        /* debug */
        height: 600px;
    }

    /* testomonial */
    .testimony{
        flex-direction: row;
    }

    .testimony .photos {
        width: 30%;
        /* debug */
        margin-right: 1rem;
    }

    /* features */
    .features-card {
        width: calc(100% / 2 - (var(--features-card-gap) / 2));
    }

    /* about us */
    .about-us-article {
        width: calc(70% - var(--about-us-gap) / 2)
    }

    .about-us-cit {
        width: calc(30% - var(--about-us-gap) / 2)
    }
}

@media screen and (min-width:992px) {
    /* COMMON */
    .container {
        width: 70%;
    }

    /* HEADER */
    /* nav */
    .navigation .fa-solid {
        display: none;
    }

    .navigation ul {
        display: flex;
    }

    /* MAIN */
    /* strategic */

    .plan,
    .app-dev {
        width: calc(100% / 2 - var(--strategic-gap));
    }

    /* features */
    .features-card {
        width: calc(100% / 3 - (var(--features-card-gap)));
    }
}