@media screen and (min-width:768px) {
    /* MAIN */
    /* hero */

    .get-app {
        width:calc(100% / 3 * 2  - (var(--hero-gap) / 3 ));
    }

    .get-app-title {
        text-align: start;
    }
    .hero-btn {
        width: 60%;    
    }

    .get-app-rigth {
        width: 50%;
        justify-content: start;
    }

    .info-card {
        width:calc(100% / 3 - (2 *var(--hero-gap) / 3 ));
    }

    .info-card-title {
        text-align: center;
    }

    /* testomonial */
    .testimony {
        flex-direction: row;
    }

    .testimony .photos {
        width: 30%;
        /* debug */
        margin-right: 1rem;
    }

    /* features */
    .features-card {
        width: calc(100% / 2 - (var(--features-card-gap) / 2));
    }

    /* about us */
    .about-us-article {
        width: calc(70% - var(--about-us-gap) / 2)
    }

    .about-us-cit {
        width: calc(30% - var(--about-us-gap) / 2)
    }
}

@media screen and (min-width:992px) {
    /* ROOT */
    :root{
        --plan-wd: 55%;
    }

    /* COMMON */
    .container {
        width: 70%;
    }

    /* HEADER */
    /* nav */
    .navigation .fa-solid {
        display: none;
    }

    .navigation ul {
        display: flex;
    }

    /* MAIN */
    /* hero */
    .get-app {
        display: flex;
        padding-right: 0;
        flex-direction: row;
  
    }

    .get-app-left {
        width: 60%;
    }

    .get-app-rigth {
        width: 40%;
        padding: 0 1rem;
    }
    /* strategic */

    .plan {
        width: var(--plan-wd);
    }

    .app-dev {
        width: calc(100% - var(--plan-wd) - var(--strategic-gap) );
    }

    .app-dev img {
        width: 80%;
        margin: auto;
    }

    /* features */
    .features-card {
        width: calc(100% / 3 - (var(--features-card-gap)));
    }
}