/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

/* ROOT */
:root {
    /* common */
    --main-blue: #0084FD;

    /* nav */
    --nav-text-color: #fff;
    --nav-btn-bg-color: #fff;
    --nav-btn-text-color: #000;

    /* hero */
    --hero-gap: 2rem;
    --hero-card-bg-color: #B5DDFF;
    --hero-card-title-color: #0084FD;
    --hero-card-text-color: #657B8D;
    --hero-btn-text-color: #fff;

    /* strategic */
    --strategic-bg-color: #9792E4;
    --strategic-gap: 2.5rem;
    --strategic-text-color: #fff;
    --strategic-card-bg-color: #fff;
    --strategic-app-nev-btn-bg-color: #9792E4;
    --strategic-app-nev-btn-text-color: #000;

    /* testimonials */
    --article-title-text-color: #9792E4;
    --testimonials-photos-1: url(../img/testimonial1.jpg);
    --testimonials-photos-2: url(../img/testimonial2.jpg);
    --testimonials-photos-3: url(../img/testimonial3.jpg);
    --testimonials-card-bf-color: #9792E4;
    --testimony-speech-text-color: #fff;

    /* features */
    --features-bg-color: #9792E4;
    --features-card-bg-color: #fff;
    --features-title-color: #fff;
    --features-card-gap: 2rem;
    --feature-card-title-color: #9792E4;
    --feature-card-text-color: #7a7a7a;
    --features-card-btn-bg-color: #9792E4;

    /* about us */
    --about-us-gap: 2rem;
    --about-us-title-color: #9792E4;
    --about-us-cit-text-color: #9792E4;
    --linkedin-btn-bg-color: #9792E4;
    --linkedin-btn-text-color: #fff;

    /* get started */
    --get-started-bg-color: #9792E4;
    --get-started-mini-title-color: #c0bdee;
    --get-started-title-color: #fff;
    --get-started-free-color: #fdc15f;
    --get-started-text-color: #fff;
    --get-started-btn-bg-color: #fff;
    --get-started-btn-text-color: #9792E4;

    /* footer */
    --footer-bg-color: #333333;
    --footer-text-color: #fff;
    --footer-link-color: #807BBB;
}

/* UTILITIES */
.flex-display {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-start {
    justify-content: start;
}

.space-between {
    justify-content: space-between;
}

.align-end {
    align-items: flex-end;
}

.self-end {
    align-self: end;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.no-deco {
    text-decoration: none;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}


/* COMMON */
.container {
    width: 85%;
    margin: auto;
    /* debug */
    padding: 1rem 0;
}

.btn {
    padding: 0.5rem 1rem;
}

.card {
    border-radius: 2rem;
    padding: 0 2rem;
}

/* HEADER */
header {
    background-color: var(--main-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.logo {
    width: 30%;
}

.navigation ul {
    list-style-type: none;
    display: none;
    font-size: 1rem;
}

.navigation .fa-solid {
    font-size: 2rem;
    color: var(--nav-text-color);
}

.navigation a:not(.nav-btn) {
    color: var(--nav-text-color);
    margin-right: 1rem;
}

.nav-btn {
    border-radius: 2rem;
    background-color: var(--nav-btn-bg-color);
    color: var(--nav-btn-text-color);
}

/* MAIN */
/* hero */

.hero {
    margin: 5rem 0;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bolder;
}

.row {
    width: 100%;
    gap: 2rem;
}

.get-app {
    width: 100%;
    background-color: var(--hero-card-bg-color);
}

.get-app-title {
    margin-top: 2.2rem;
    font-size: 1.5rem;
    color: var(--hero-card-title-color);
}

.get-app-text {
    font-size: 1rem;
    margin: 2rem 0;
    line-height: 1.8rem;
    color: var(--hero-card-text-color);
}

.hero-btn {
    width: 80%;
    max-width: 400px;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--main-blue);
    color: var(--hero-btn-text-color);
    margin-bottom: 3rem;
}

.fa-apple {
    margin-right: 1rem;
}

.info-card {
    width: 100%;
    background-color: var(--hero-card-bg-color);
    padding: 2rem 2rem;
}

.info-card-icon {
    width: 100%;
    font-size: 7rem;
    color: var(--main-blue);
}

.info-card-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--main-blue);
}

.info-card-text {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    text-align: center;
    line-height: 2rem;
    color: var(--hero-card-text-color);
}

/* strategic planning  */

.strategic {
    background-color: var(--strategic-bg-color);
}

.strategic .container {
    gap: var(--strategic-gap);
}

.plan {
    width: 100%;
}

.plan-title {
    font-size: 2rem;
    color: var(--strategic-text-color);
    margin: 3rem 0;
}

.plan-text {
    font-size: 1.2rem;
    color: var(--strategic-text-color);
    margin-bottom: 2rem;
    line-height: 2rem;
}

.app-dev {
    width: 100%;
    border-radius: 2rem;
    padding: 1.5rem;
    background-color: var(--strategic-card-bg-color);
}

.app-dev-title {
    font-size: 1.5rem;
    font-family: 'PT Sans Caption', sans-serif;
    margin: 3rem;
}

.app-dev-text {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.app-dev-btn {
    width: fit-content;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    color: var(--strategic-app-nev-btn-text-color);
    background-color: var(--strategic-app-nev-btn-bg-color);
    padding: 1rem;
    border-radius: 50%;
}

/* testimonials */
.article {
    width: 100%;
}

.mini-title {
    margin: 2rem 0;
    font-size: 1rem;
}

.article-title {
    font-size: 2.5rem;
    color: var(--article-title-text-color);
}

.article-text {
    margin: 2rem 0;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.testimony {
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--testimonials-card-bf-color);
    margin: 2rem 0;
}

.photos {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.nr1 {
    background-image: var(--testimonials-photos-1);
}

.nr2 {
    background-image: var(--testimonials-photos-2);
}

.nr3 {
    background-image: var(--testimonials-photos-3);
}

.testimony-speech {
    width: 100%;
    color: var(--testimony-speech-text-color);
}

.testimony-speech .fa-solid {
    font-size: 1.4rem;
    margin: 0 0.5rem;
}

.speech {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.author {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}


/* features */

.features {
    background-color: var(--features-bg-color);
}

.features .container {
    gap: var(--features-card-gap);
}

.features-title {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: var(--features-title-color);
}

.features-card {
    width: 100%;
    background-color: var(--features-card-bg-color);
    padding-bottom: 2rem;
}

.features-card-number {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--features-bg-color);
    margin: 1.5rem 0;
}

.feature-card-title {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--feature-card-title-color);
    margin-bottom: 1.5rem;
}

.features-card-text {
    font-size: 1.2rem;
    color: var(--feature-card-text-color);
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.features-card-btn {
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.7rem 2.5rem;
    border-radius: 2rem;
    background-color: var(--features-card-btn-bg-color);
    color: var(--features-title-color);
}

/* about us */

.about-us .container {
    gap: var(--about-us-gap);
    padding-bottom: 3rem;
}

.about-us-article {
    width: 100%;

}

.about-us-title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--about-us-cit-text-color);
    margin: 2rem 0;
}

.about-us-text {
    width: 100%;
}

.about-us-text p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 2rem 0;
}

.about-us-cit {
    width: 60%;
}

.about-us-cit-ph img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.fa-quote-left {
    top: 0;
    right: 0;
    font-size: 4rem;
    color: var(--about-us-cit-text-color);
    z-index: 2;
}


.about-us-cit-text {
    font-weight: bolder;
    width: 100%;
    font-size: 2rem;
    color: var(--about-us-cit-text-color);
    line-height: 3rem;
    margin: 1.5rem 0;
}

.linkedin-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--linkedin-btn-bg-color);
    color: var(--linkedin-btn-text-color);
}

/* get started */
.get-started {
    background-color: var(--get-started-bg-color);
}

.get-started-mini-title {
    color: var(--get-started-mini-title-color);
    margin: 2rem 0;
}

.get-started-title {
    font-size: 3rem;
    color: var(--get-started-title-color);
    margin-bottom: 2rem;
}

.get-started-free {
    font-size: 8rem;
    color: var(--get-started-free-color);
    margin: 3rem 0;
}

.get-started-text {
    font-size: 1.5rem;
    color: var(--get-started-text-color);
}

.get-started-btn {
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    background-color: var(--get-started-btn-bg-color);
    color: var(--get-started-btn-text-color);
    margin: 3rem 0;
}

.get-started-footer {
    color: var(--get-started-text-color);
}

.get-started-footer a {
    color: var(--get-started-text-color);
}

.fa-circle {
    font-size: 0.3rem;
    margin: 0 0.5rem;
}

/* FOOTER */
footer {
    background-color: var(--footer-bg-color);
    padding-bottom: 2rem;
    color: var(--footer-text-color);
}

.footer-text,
.footer-link {
    margin: auto;
    padding-top: 3rem;
    width: 75%;
}

.footer-link a {
    color: var(--footer-link-color);
}