/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ROOT */
:root {
    /* common */
    --main-blue: #0084FD;

    /* hero */
    --hero-gap: 2rem;

    /* strategic */
    --strategic-bg-color: #9792E4;
    --strategic-gap: 1rem;
}

/* UTILITIES */
.flex-display {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}


/* COMMON */
.container {
    width: 90%;
    margin: auto;
    /* debug */
    padding: 1rem 0;
}

.card{
    border-radius: 2rem;
    padding: 0 2rem;
}

/* HEADER */
header {
    background-color: var(--main-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    /* debug */
    width: 80px;
    height: 50px;
    background-color: yellow;
}

nav {
    /* debug */
    width: 100px;
    height: 50px;
    background-color: yellow;
}

/* MAIN */
/* hero */

.hero {
    margin-top: 5rem;
}

.row {
    width: 100%;
    gap: 2rem;
}

.get-app{
    /* debug */
    width: 100%;
    height: 600px;
    background-color: yellow;
}

.info-card {
    /* debug */
    width: 100%;
    height: 400px;
    background-color: yellow;
}

/* strategic planning  */

.strategic {
    background-color: var(--strategic-bg-color);
}

.strategic .container {
    gap: var(--strategic-gap);
}

.plan {
    width: 100%;
        /* debug */
    height: 500px;
    background-color: yellow;
}

.app-dev {
    width: 100%;
    border-radius: 2rem;
    /* debug */
    height: 450px;
    background-color: yellow;
}

/* testimonials */
 .article {
    width: 100%;
    /* debug */
    height: 200px;
    background-color: yellow;
 }

 .testimony {
    width: 100%;
    padding: 1rem;
    /* debug */
    background-color: yellow;
    margin: 2rem 0;
 }

 .photos {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* debug */
    background-color: green;
 }

 .testimony-speech {
    width: 100%;
    /* debug */
    height: 200px;
    background-color: green;
    margin-top: 1rem;

 }

