/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ROOT */
:root {
    /* common */
    --main-blue: #0084FD;

    /* nav */
    --nav-text-color: #fff;
    --nav-btn-bg-color: #fff;
    --nav-btn-text-color: #000;

    /* hero */
    --hero-gap: 2rem;

    /* strategic */
    --strategic-bg-color: #9792E4;
    --strategic-gap: 1rem;

    /* features */
    --features-bg-color: #9792E4;
    --features-card-bg-color: #fff;
    --features-card-gap: 2rem;

    /* about us */
    --about-us-gap: 2rem;

    /* get started */
    --get-started-bg-color: #9792E4;

    /* footer */
    --footer-bg-color: #000;
}

/* UTILITIES */
.flex-display {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}


/* COMMON */
.container {
    width: 90%;
    margin: auto;
    /* debug */
    padding: 1rem 0;
}

.btn {
    padding: 0.5rem 1rem;
}

.card{
    border-radius: 2rem;
    padding: 0 2rem;
}

/* HEADER */
header {
    background-color: var(--main-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
width: 30%;
}

.navigation ul {
    list-style-type: none;
    display: none;
}

.navigation .fa-solid {
    font-size: 2rem;
    color: var(--nav-text-color);
}

.navigation a:not(.nav-btn)  {
    text-decoration: none;
    color: var(--nav-text-color);
    margin-right: 1rem;
}

.nav-btn {
    text-decoration: none;
    border-radius: 1rem;
    background-color: var(--nav-btn-bg-color);
    color: var(--nav-btn-text-color);
}

/* MAIN */
/* hero */

.hero {
    margin-top: 5rem;
}

.row {
    width: 100%;
    gap: 2rem;
}

.get-app{
    /* debug */
    width: 100%;
    height: 600px;
    background-color: yellow;
}

.info-card {
    /* debug */
    width: 100%;
    height: 400px;
    background-color: yellow;
}

/* strategic planning  */

.strategic {
    background-color: var(--strategic-bg-color);
}

.strategic .container {
    gap: var(--strategic-gap);
}

.plan {
    width: 100%;
        /* debug */
    height: 500px;
    background-color: yellow;
}

.app-dev {
    width: 100%;
    border-radius: 2rem;
    /* debug */
    height: 450px;
    background-color: yellow;
}

/* testimonials */
.article {
    width: 100%;
    /* debug */
    height: 200px;
    background-color: yellow;
}

.testimony {
    width: 100%;
    padding: 1rem;
    /* debug */
    background-color: yellow;
    margin: 2rem 0;
}

.photos {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* debug */
    background-color: green;
}

.testimony-speech {
    width: 100%;
    /* debug */
    height: 200px;
    background-color: green;
    margin-top: 1rem;

}

/* features */

.features{
    background-color: var(--features-bg-color);
}

.features .container {
    gap: var(--features-card-gap);
}

.features-title {
    width: 100%;
    margin-bottom: 2rem;
    /* debug */
    height: 100px;
    background-color: white;
}

.features-card {
    width: 100%;
    background-color: var(--features-card-bg-color);
    /* debug */
    height: 400px;
}

/* about us */

.about-us .container {
    gap: var(--about-us-gap) ;
}

.about-us-article {
    width: 100%;
    /* debug */
    padding: 2rem;
    background-color: yellow;
}

.about-us-title {
    width: 100%;
    /* debug */
    height: 150px;
    background-color: green;
    margin-bottom: 2rem;
}

.about-us-text{
    width: 100%;
    /* debug */
    height: 600px;
    background-color: green;
}

.about-us-cit{
    width: 100%;
    /* debug */
    padding: 2rem 1rem;
    background-color: yellow;
}

.about-us-cit-ph {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* debug */
    background-color: green;
    margin-bottom: 2rem;
}

.about-us-cit-text {
    width: 100%;
    /* debug */
    height: 300px;
    background-color: green;
}

/* get started */
.get-started {
    background-color: var(--get-started-bg-color);
}

.get-started-title {
    width: 90%;
    /* debug */
    background-color: white;
    height: 200px;
    margin-bottom: 1rem;
}

.get-started-main{
    width: 80%;
    /* debug */
    height: 500px;
    background-color: white;
}

/* FOOTER */

footer {
    background-color: var(--footer-bg-color);
    padding-bottom: 2rem;
}

.footer-text {
    width: 75%;
    /* debug */
    background-color: white;
    height: 300px;
}


